{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<div id="bottom-up">
    <ul class="list-group list-group-mine list-group-flush">
        {% for item in items %}
            <li class="list-group-item">{{item}}</li>  
        {% endfor %}      
 
    </ul>


    <form action="/" data-channel="engineering" method="post">
        <div class="input-group my-input-group input-group-lg mb-3">
            <input type="text" id="sendtext" autofocus class="form-control" placeholder="Input Text" aria-label="inp-text" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Send</button>
            </div>
          </div>
    </form>
</div>
{% endblock %}
