<!DOCTYPE html> 
<link rel="stylesheet" href="../static/styles.css">
<head> 
   <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head> 
  
<body> 
    <div id="sidebar" class="sidebar"> 
        <!--the cross button-->
        <a href="#">#General</a> 
        <a href="#">#Engineering</a> 
        <a href="#">#Marketing</a> 
        <a href="#">#Support</a> 
    </div> 
  
    <div id="main"> 
        <button class="openbtn" 
                onclick="changeNav()"> 
          Channels 
        </button>
        {% block main %}{% endblock %}
    </div> 
</body> 
<script> 
    open=false;
    function changeNav() { 
        if(open){
            open=false;
        document.getElementById( 
          "sidebar").style.width = "0"; 
        document.getElementById( 
          "main").style.marginLeft = "0"; 
        }
        else{
            open=true;
            document.getElementById( 
          "sidebar").style.width = "230px"; 
            document.getElementById( 
          "main").style.marginLeft = "230px";
        }
    } 
</script> 
  
</html> 